---
import NoteLayout from '../../layouts/NoteLayout.astro';
import Programming from '../../components/Programming.astro';

---

<NoteLayout  
  content={{
    title: "Ensure Varied, Thought-Out Programming for your Affiliate", 
    description: "This post summarizes Taylor Selfs approach to programming for CrossFit Charlotte from a Shut Up and Scribble episode. Taylor collaborates with Andy Hendel when programming 2 week blocks for the gym. They have identified the following rules and process to ensure varied, well thought out programming for their affiliate.",
    }} 
>

<p class="prose whitespace-pre-wrap">
This post summarizes and builds on top of Shut up and and Scribble episode <a href="https://www.youtube.com/watch?v=0l0tsNEMQQw" class="underline">How I Program for My Affiliate: Taylor Self // Shut Up & Scribble Ep 24</a>.

The goal of any CrossFit programming in affiliates is to increase work capacity across broad time and modal domains.

How different affiliates get there will vary widely but there are some rules and commonalities that can be followed to ensure you're programming is varied and well thought out.
</p>
  
  
<h2 class="text-3xl">Rules for Programming</h2>

<h3 class="text-2xl my-2 not-prose"> 1. CrossFit Definition</h3>

<p class="prose whitespace-pre-wrap">
CrossFit is constantly varied, functional movements performed at high intensity.

If you're familiar with CrossFit at all this definition will be familiar to you. It's important to keep this in mind when programming.
<br />
<strong class="font-bold">Constantly varied</strong> means you switch up the movements, time domains, and modalities while maintaining some consitency so that you don't fall into the trap of doing the same thing over and over or being completely random.
  
CrossFit stays broad, general, and inclusive knowing that as humans we fail at the margins of our experience. When we keep our movements varied we expand those margins and become more capable humans

<strong class="font-bold">Functional movements</strong> are movements that are natural to the human body. They have 6 characteristics to them:

- Natural
- Universal Motor Recruitment Patterns
- Essential
- Compound yet Irreducible
- Safe
- Core to Extremity Movement Patterns

e.g. Squatting, deadlifting, pressing, etc.

Not bicep curls, leg extensions, etc.

<strong class="font-bold">High Intensity</strong> is relative to the individual and their physical and psychological tolerances.
e.g. What can the body handle and What can the mind handle?

It's not about going as hard as you can every day. It's about going as hard as you can while maintaining good form and technique.

Which brings you to the second rule.  
</p>


<h3 class="text-2xl my-2 not-prose"> 2. Proper Progression of CrossFit</h3>

<p class=" whitespace-pre-wrap">
Before you throw people into high intensity workouts, you need to build the foundation of mechanics and consistency.

CrossFit preaches:

<div class="font-bold mb-2 not-prose">Mechanics First</div>
  Can my athlete get into the proper positions? What faults are present in the movement? How can we fix them?

<div class="font-bold mb-2 not-prose">Mechanics FirstConsistency Second</div>
  
  Are they consistent in their movement or showing different faults with different reps?

<div class="font-bold mb-2 not-prose">Intensity Third</div>
  
  Eventually we want to get to intensity but we don't want to sacrifice mechanics and consistency to get there. This is where the magic happens

This progression is up to the coaches to determine for individual athletes and scale workouts for them accordingly.

</p>

<h3 class="text-2xl my-2 not-prose"> 3. Complimentary Movement Patterns</h3>

When programming workouts, you want to make sure you err on the side of programming complimentary movement patterns. e.g. Fran: lower body push and upper body pull.

Redundancy is when 2 or more movements hit the same movement pattern. e.g. JT: 3 upperbody pushing movements

Redendancy has it's place but will reduce intensity for most people because they don't have the capacity to push that movement pattern that hard.

<h3 class="text-2xl my-2 not-prose"> 4. Simplicity and Elegance</h3>

Don't get complicated or cute with your programming. Stick to the basics. Add complexity as you get more familiar with your style of programming and your athletes.

<h3 class="text-2xl my-2 not-prose"> 5. Zoom Out</h3>

Every other week, zoom out and look at the past 2 weeks of programming. What have you not done? What do you need to prioritize in the upcoming block?

<h3 class="text-2xl my-2 not-prose"> 6. Trial and Error</h3>

Trial and error your own workouts. You'll find out quickly if a workout you programmed is trash.

<h3 class="text-2xl my-2 not-prose"> 7. Set Aside your Ego and Be Flexible</h3>

If you program a week and it's beating people up in unexpected ways, change it if you need to.

CrossFit Charlotte sends out their week of programming with the message:

> "Workouts may change to ensure the quality of your CrossFit experience"

This gives the them flexibility to change something if workouts are beating people up in unexpected ways.

<h3 class="text-2xl my-2 not-prose"> 8. Build in your own rules</h3>

There will be movement patterns and strength cycles that you and your gym prefer. Maybe you like to do a heavy day once a week or maybe you like to do a high skill gymnastics day once a week. Find those rhythms and build them into your programming but use the process below to keep things varied.

<h2 class="text-3xl my-4 not-prose">Process</h2>
  
<p class=" whitespace-pre-wrap">
1.) Sketch out 14 blocks representing a day a week for 2 weeks
  
2.) On the board, write out the different aspects of a workout that you want to vary:
</p>
  
    
<div class="grid md:grid-cols-3 sm:grid-cols-2 gap-2 mb-4 text-base not-prose">
  <div class="p-2 border border-slate-100">
    <h3 class="text-lg font-semibold my-2">Modalities</h3>
    <ul class="list-none p-4">
      <li class="list-none m-0">Weightlifting</li>
      <li class="list-none m-0">Monostructural</li>
      <li class="list-none m-0">Gymnastics</li>
    </ul>
  </div>
  <div class="p-2 border border-slate-100">
    <h3 class="text-lg font-semibold my-2">Volume</h3> 
    <ul class="p-2 list-none">
      <li class="list-none m-0">High</li>
      <li class="list-none m-0">Moderate</li>
      <li class="list-none m-0">Low</li>
    </ul>
  </div>
  <div class="p-2 border border-slate-100">
    <h3 class="text-lg font-semibold my-2">Priority</h3> 
    <ul class="p-2 list-none">
      <li class="list-none m-0">Time</li>
      <li class="list-none m-0">Task</li>
      <li class="list-none m-0">Hybrid</li>
    </ul>
  </div>
  <div class="p-2 border border-slate-100">
    <h3 class="text-lg font-semibold my-2">Movement Patterns</h3>
    <ul class="p-2 list-none">
      <li class="list-none m-0">Squat</li>
      <li class="list-none m-0">Hinge</li>
      <li class="list-none m-0">Upper Press</li>
      <li class="list-none m-0">Upper Pull</li>
      <li class="list-none m-0">Lower Pull from Floor</li>
      <li class="list-none m-0">Lunge/Step</li>
      <li class="list-none m-0">Jump</li>
    </ul>
  </div> 
  <div class="p-2 border border-slate-100">
    <h3 class="text-lg font-semibold my-2">Time</h3> 
    <ul class="p-2 list-none">
      <li class="list-none m-0">Long 25-40</li>
      <li class="list-none m-0">Medium Long 15-25</li>
      <li class="list-none m-0">Medium 9-15</li>
      <li class="list-none m-0">Medium Short 4-9</li>
      <li class="list-none m-0">Short 0-4</li>
    </ul>
  </div>
  <div class="p-2 border border-slate-100">
  <h3 class="text-lg font-semibold my-2">Format</h3> 
    <ul class="p-2 list-none">
      <li class="list-none m-0">Single Modality</li>
      <li class="list-none m-0">Couplet</li>
      <li class="list-none m-0">Triplet</li>
      <li class="list-none m-0">Chipper</li>
      <li class="list-none m-0">Emom</li>
      <li class="list-none m-0">Interval</li>
      <li class="list-none m-0">Tabata</li>
      <li class="list-none m-0">FGB</li>
      <li class="list-none m-0">Buy in/Cash out</li>
    </ul>
  </div>
  <div class="p-2 border border-slate-100">
    <h3 class="text-lg font-semibold my-2">Load</h3>
    <ul class="p-2 list-none">
      <li class="list-none m-0">Heavy</li>
      <li class="list-none m-0">Moderate</li>
      <li class="list-none m-0">Light</li>
      <li class="list-none m-0">Bodyweight</ul>
  </div>
</div>
    
<p class=" whitespace-pre-wrap">
3.) Fill in the blocks with the workouts you want to program for the next 2 weeks

4.) Cross off different aspects of workouts you used from the list for that 2 week block

5.) Zoom out and look at what you haven't done and prioritize that in the next block

You'll get a lot of variance if you follow this process.

More movements you will want to consider programming: 
</p>
    
    
<ul class="flex flex-wrap gap-2 mb-4 list-none">
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Bench press</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Handstand push-up</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Ring dip</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Ring push-up</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Bar muscle up</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Kettlebell shoulder to overhead</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Dumbbell shoulder to overhead</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Burpee box jump</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Burpee pull-up</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Devils press</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Dumbbell snatch</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Kettlebell hang snatch</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Squat snatch</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Overhead squat</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Squat clean and jerk</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Heavy squat day</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Wall ball</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Medicine ball clean</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Kettlebell squat</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Sandbag squat</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Air squat</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Lunge (db/kb/plate)</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Chest to bar pull-up</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Strict pull-up</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">rope climb</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">legless rope climb</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Knees to elbow</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">V-up</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">Strict toes to bar/t2b</li>
  <li class="py-2 px-4 border border-slate-100 cursor-default text-slate-700 font-medium list-none m-0">GHD hip extension</li>
</ul>
<p>
Swapping out movements for different variations of the same movement is a great way to keep things varied. Maybe you've done front squats and overhead squats so you could throw in squat snatches to keep things varied.
</p>
  
<h2 class="text-3xl  my-4 not-prose">Example</h2>

<p>Here's an example of 2 weeks of programming for CrossFit Charlotte and a breakdown of each workouts characteristics.</p>

<Programming block="first" />

<br class="mb-4" />

<p>At the end of the 2 weeks, zoom out and look at what you haven't done and prioritize that in the next block.</p>

<br class="mb-4" />

<Programming block="second" />