---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Page not found">
  <div class=" mt-14 m-auto w-fit prose">
    <div class="h-[35vh]">
      <h1>Oops, that's a 404. 🙈</h1>
  
      <p>Looks like this page doesn't exist. <a href="/">Return home</a> or back to the previous page to get a fresh start.</p>

      <p>This might be because I linked a note that I haven't created yet! If you really wanted to see that note, @ me on twitter.</p>
    </div>
  </div>
</Layout>
