---
export interface Props {
	title: string;
	href: string;
}

import defaultTitleToURLPath from '@lib/defaultTitleToURLPath'

const { href, title } = Astro.props;

---

<a 
  class="no-underline border-b-2 border-solid border-b-primary p-[2px] rounded hover:bg-primary external-link font-body" 
  href={href}
>
    {title}
</a>


<style>
  .external-link {
    text-decoration: none;
    border-bottom: 1px solid $color-border;
    color: $color-text;
    padding: 2px;
    border-radius: $border-radius;
  }
  .external-link:hover {
    color: black !important;
    background: $color-border;
    border-bottom: 1px solid $color-border;
  }
  .external-link:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: "↗";
    color: #aaaaaa;
  }
</style>