---
export interface Props {
	note: string;
	description: string;
  image: string;
}

import InternalLink from '@components/InternalLink.astro'

const { note, description, image } = Astro.props;
---

<div class=" w-72 h-80 p-4 m-2 bg-card-background dark:bg-card-background-dark border-2 border-primary dark:border-primary-dark rounded">
  <div>
  <img class="w-12 block mx-auto" aria-hidden="true" src={image}>
  <h2 class="w-fit mx-auto font-bold text-4xl my-6 text-color-text dark:text-color-text-dark">
    <InternalLink title={note} styleOverride='font-title' />
  </h2>
  <p class="h-28 text-xl sm:text-lg leading-7 mt-4 text-center text-color-text dark:text-color-text-dark font-body">
    {description}
  </p>
  </div>
</div>