---
import ThemeToggle from '@components/ThemeToggle';
import SiteStamp from './SiteStamp.astro';


// nav gradient
// from-[#3ae05e] to-primary rounded
// dark:p-0 dark:my-[6px] dark:mx-[5px]
//       dark:border-b-4 dark:border-primary-dark 
//       dark:from-primary-dark dark:to-primary-dark
//       
---
<div class="my-8 ">
  <div class="flex flex-row  justify-between">
    <div class="
      mx-auto sm:mx-0 hidden py-[6px] px-[4px] sm:block bg-gradient-to-br 
      dark:transition dark:ease-in-out hover:text-primary  hover:dark:text-primary-dark
      ">
        <a id="site-logo" class="
        
        text-2xl p-1 font-title 
        bg-background rounded 
        hover:bg-opacity-0 
        transition ease-in-out 
        motion-reduce:transition-none motion-reduce:hover:transform-none
        dark:text-color-text-dark
        dark:bg-background-dark
        " style="white-space: nowrap;" href="/"><b>Zac's digital garden</b></a>
    </div>
    <div class="flex gap-4 self-center">
      <a class="h-fit font-title text-xl dark:transition dark:ease-in-out hover:text-primary  hover:dark:text-primary-dark dark:text-color-text-dark hidden sm:block" href="/about">About</a>
      <ThemeToggle classNames="sm:block hidden text-sm h-fit" client:load />
    </div>
  </div>
  <a id="site-logo-mobile" href="/">
    <SiteStamp classNames="hidden dark:block dark:sm:hidden sm:hidden mx-auto" textColor="#e9efea" />
    <SiteStamp classNames="block sm:hidden dark:hidden mx-auto" textColor="#0d2410" />
  </a>
</div>

