---
import Subscribe from '@components/Subscribe.astro';
import BaseHead from '@components/BaseHead.astro';
import Nav from '@components/Nav.astro';
import ThemeToggle from '@components/ThemeToggle';


export interface Props {
	title: string;
  description?: string;
  image?: string;
}

const { title, description, image } = Astro.props;

---

<!DOCTYPE html>
<html lang="en" class="dark bg-background" style="visibility: hidden;">
  <head >
    <BaseHead title={title} description={description} image={image} />
  </head>
  <div class="dark:bg-background-dark bg-background h-full">
    <div class="max-w-5xl sm:mx-4 py-10 lg:mx-auto">
      
      <body >
        <Nav />
        <slot />
      </body>
      
      <Subscribe />

      <div class="flex justify-center gap-4">
        <a class="h-fit font-title text-xl dark:transition dark:ease-in-out hover:text-primary  hover:dark:text-primary-dark dark:text-color-text-dark sm:hidden block" href="/about">About</a>
        <ThemeToggle classNames="sm:hidden block text-sm self-start" client:load />
      </div>
    </div>
    
  </div>
	
</html>
<style is:global>
	:root {
		--accent: 39, 214, 184;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #3AE05E 30%, white 60%);
	}

  @font-face {
  font-family: 'WraithMono';
  src: url('/fonts/WraithMono.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alizarin';
  src: url('/fonts/Alizarin.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DDSans';
  src: url('/fonts/DDSans-Bold.otf') format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DDSans';
  src: url('/fonts/DDSans-Light.otf') format("opentype");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DDSans';
  src: url('/fonts/DDSans-Regular.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

	html {
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    margin: auto;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
  

  

</style>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);

  let domReady = (cb) => {
  document.readyState === 'interactive' || document.readyState === 'complete'
    ? cb()
    : document.addEventListener('DOMContentLoaded', cb);
};

domReady(() => {
  document.body.style.visibility = 'visible';
});

  
</script>